.workspace-properties/
GNUmakefile
bin/
compiler.mk
config.mk
doc/
doc-cache/
simics
simics-gui
simics-eclipse
linux64/

.cproject
.project
.modcache
.package-list
.workspace-setup.log
targets/arc601-simple/
targets/ppc-simple/
targets/vacuum/
targets/x86-440bx/
targets/x86-simple/
targets/x86-x58-ich10/
targets/cosim/
targets/mpc8641-simple/
targets/sample/

# editors
*.swp
*~
